brew install neovim
brew install ripgrip
brew install cask font-space-mono-nerd-font
brew install lua-language-server
`mason.nvim` relaxes the minimum requirements by attempting multiple different
utilities (for example, `wget`, `curl`, and `Invoke-WebRequest` are all
perfect substitutes). The _minimum_ recommended requirements are:

-   neovim `>= 0.7.0`
-   For Unix systems: `git(1)`, `curl(1)` or `wget(1)`, `unzip(1)`, `tar(1)`,
    `gzip(1)`
-   For Windows systems: pwsh or powershell, git, tar, and 7zip or peazip or
    archiver or winzip or WinRAR

Note that Mason will regularly shell out to external package managers,
such as `cargo` and `npm`. Depending on your personal usage, some of these
will also need to be installed. Refer to `:checkhealth mason` for a full list.

